---
import MainLayout from "../layouts/MainLayout.astro";
import Navbar from "../components/Navbar";
import SectionsContainer from "../components/SectionsContainer";
---

<MainLayout>
  <Navbar client:load />
  <div class="container mx-auto px-4 mb-20 ">
    <SectionsContainer client:load />
  </div>
</MainLayout>
